.kotak{
  border: 2px solid black;
  padding: 0px;
}

.parent{
  text-align: center;
  width: 80%;
  margin: auto;
}


.anak-kotak{
  border: 1px solid gray;
  margin: 0px;
  padding: 20px;
}

.anak-kotak img{
  width: 30px;
  height: 30px;
}

.kotak img {
  width: 100%;
  height: 100%;
  margin: auto;
}
